.container{
    width: 600px;
    height: 200px;
    border: 2px solid black;
    margin: 50px auto;
    padding-top: 20px;
    padding-left: 10px;
}
.fn{
    margin-right: 40px;
}
input{
    border-radius: 3px;
    margin-left: 10px;
}
.pn{
    padding-left: 200px;
}
.ea{
    padding-left: 200px;
}
.oo{
    width: 120px;
}